<ion-view title="{{ 'MENU_ABOUT' | translate }}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true">
    <section class="containerOuter bg-img">
      <div id="aboutMeIntro" class="clearfix"><h2>
        <span>a</span><span>b</span><span>o</span><span>u</span><span>t</span><span>M</span><span>e</span></h2>
        <!--<div class="caption"><p>"Our future prosperity depends on the quality of our collective imaginations."</p> <p><b>Eric Ries 'The Lean Startup'</b></p></div>-->
        <!--h3 My goal is to figure out the right things to build - the things people want - as quickly as possible-->
      </div>
    </section>
    <div class="jumbotron"><p>My name is Sergio Khlopenkov.</p>

      <p>I'm full-stack Web Developer. And I love experimenting with new languages and technologies.</p><br/>

      <p>I have skills with RESTful APIs, HTML, CSS, JS, AJAX, GIT, JS/CSS extensions and compilers, HTML template
        engines.</p>

      <p>Knowledge of different JS technologies, libraries, frameworks and tools such as prototype, ES6, Node.js,
        express, WebSocket, React, jQuery, Angular, lodash, openlayers/leaflet, Bootstrap, Webpack, Babel, BrowserSync
        grunt/gulp</p>

      <p>IOS/Android mobile development with ionic and cordova.</p>

      <p>Backend development with Node.js+express, SQL and NoSQL DB's</p>

      <p>Strong Debugging experience with Chrome Developer and similar tools</p>

      <p>Experience with Google & Facebook API</p>

      <p>Design pattern are familiar to me</p>

      <p>Quality code and testing is essential for me</p></div>
  </ion-content>
</ion-view>
