<ion-view title="{{ 'MENU_ABOUT' | translate }}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content has-header="true" padding="true">
    <section class="containerOuter bg-img">
      <div id="aboutMeIntro" class="clearfix"><h2>
        <span>A</span><span>B</span><span>O</span><span>U</span><span>T</span><span></h2>
        <div class="caption"><p>"Our future prosperity depends on the quality of our collective imaginations."</p> <p><b>Eric Ries 'The Lean Startup'</b></p></div>
        <!--h3 My goal is to figure out the right things to build - the things people want - as quickly as possible-->
      </div>
    </section>
    <div class="jumbotron">
      <p>Ionic ES6 Components</p>

      <p>Starter kit for developing extendable & detachable ES6 components featuring Cordova platform, Angular / Ionic framework, Node.js / Express server Babel, BrowserSync and Webpack.</p><br/>

    </div>
  </ion-content>
</ion-view>
